<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>DISTANCIA ENTRE ZEROS</title>
    <style>
        
        *{
            margin: 0;
            padding: 0;
        }
        .header{
            margin-left: 630px;
            width: 10px;
            height: 10vh;       
            color: #000;
            
            }
   
        .container{
            margin-left: 00px;
            margin-top: 100px;
            display: flex;
        }
     
    </style>

<body>
<h1 style="background-color: #72da42; text-align: center;">DISTANCIA ENTRE ZEROS</h1>             
    {% block content%}
        <h2 class= "header">{{ zeros }}</h2>      
    {% endblock %}
</body>
</html>